.App {
  min-height: 100vh;
  display: flex;
  background-image: url("./Assets/pexels-miguel-á-padriñán-1111368.jpg");
  background-size: cover;
  background-position: center;
  box-sizing: border-box;
}